/*!=================
  Project layout
====================*/
html{
  padding-top: 90px;
  background-image: url('../images/top-bg.png'), url('../images/bottom-bg.png');
  background-color: #e8e8e8;
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  border-top: 5px solid #000;
  @include regular;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  box-sizing: border-box;
  &:after{
    content: '';
    position: fixed;
    right: 0;
    top: 420px;
    width: 65px;
    height: 186px;
    background: transparent url('../images/right-bg.png') 0 0 no-repeat;
    z-index: -1;
  }
  &:before{
    content: '';
    position: fixed;
    left: 0;
    top: 420px;
    width: 124px;
    height: 271px;
    background: transparent url('../images/left-bg.png') 0 0 no-repeat;
  }
}
@media all and (max-height: 899px){
  html:after,
  html:before{
    display: none;
  }
}
html, body{
  // height: 100%;
  min-width: $min-width + 50;
  position: relative;
}
.container{
  position: relative;
  min-height: 100%;
  min-width: $min-width;
  // margin-bottom: -($footer-height+70);
  .wrapper{
    background-color: #efefef;
    border-top: 5px solid #518f31;
    box-shadow: 0 0 25px rgba(0,0,0,.5)
  }
}
.container:after{
  content: '';
  display: block;
  height: 70px;
}
footer{
  position: relative;
  top: -70px;
  height: $footer-height;
  min-width: $min-width;
  width: 100%;
  .wrapper{
    background-color: #f4f4f4;
  }
}
.wrapper{
  position: relative;
  width: $min-width;
  height: 100%;
  margin: 0 auto;
}

.main{
  @include clearfix;
}
footer{
  .wrapper{
    display: table;
    line-height: 130px;
  }
  .logo{
    float: left;
    margin-left: 30px;
    display: table-cell;
    vertical-align: middle;
  }
  .copy{
    float: left;
    margin-left: 30px;
    display: table-cell;
    .copy-wrapper{
      line-height: 1;
      vertical-align: middle;
      display: inline-block;
    }
  }
  .counters{
    float: right;
    margin-right: 30px;
    div{
      display: inline-block;
      vertical-align: middle;
    }
  }
}

header{
  background-color: #fff;
  margin-bottom: 30px;
  .top-header{
    @include clearfix;
    height: 132px;
  }
  .bottom-header{
    @include clearfix;
    height: 50px;
    border-bottom: 3px solid #518f31;
  }
  .logo{
    display: block;
    width: 232px;
    height: 55px;
    background: transparent url('../images/logo.png') 0 0 no-repeat;
    float: left;
    margin-top: 33.5px;
    margin-left: 18px;
  }
  .main-search{
    float: right;
  }
  .authorization{
    float: right;
    cursor: default;
    height: 50px;
    line-height: 25px;
    > span{
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }
    > div{
      display: inline-block;
      &:last-child{
        margin-right: 20px;
      }
    }
    .signin a{
      font-size: 15px;
      color: #464646;
      position: relative;
      padding-left: 17px;
      span{
        text-decoration: underline;
      }
      &:after{
        content: '';
        background: url('../images/sprite.png') no-repeat -22px 0;
        width: 14px;
        height: 14px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -7px;
      }
      &:hover{
        color: #518f31;
        &:after{
          background-position: -44px 0;
        }
      }
    }
    .login a{
      background: #7ec037;
      background: -moz-linear-gradient(top,  #7ec037 0%, #518f32 50%, #7ec037 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ec037), color-stop(50%,#518f32), color-stop(100%,#7ec037));
      background: -webkit-linear-gradient(top,  #7ec037 0%,#518f32 50%,#7ec037 100%);
      background: -o-linear-gradient(top,  #7ec037 0%,#518f32 50%,#7ec037 100%);
      background: -ms-linear-gradient(top,  #7ec037 0%,#518f32 50%,#7ec037 100%);
      background: linear-gradient(to bottom,  #7ec037 0%,#518f32 50%,#7ec037 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ec037', endColorstr='#7ec037',GradientType=0 );

      position: relative;
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 20px;
      font-size: 16px;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 3px 0 #518f31, 0 4px 2px 0 rgba(0,0,0,.125);
      box-sizing: border-box;
      padding-left: 32px;
      &:active{
        position: relative;
        top: 2px;
        box-shadow: 0 1px 0 #518f31, inset 0 4px 2px 0 rgba(0,0,0,.125);
      }
      &:after{
        content: '';
        position: absolute;
        left: 12px;
        top: 50%;
        background: url('../images/sprite.png') no-repeat 0 0;
        width: 12px;
        height: 12px;
        margin-top: -6px;
      }
    }
  }
}
.header-buttons{
  float: right;
  margin-top: 49px;
  margin-right: 120px;
  .live, .forecasts{
    float: left;
    margin-left: 12px;
    margin-right: 12px;
  }
}
.main-search{
  width: 280px;
  height: 40px;
  position: relative;
  margin-top: 48px;
  margin-right: 30px;
  font-size: 14px;
  @include regular;
  input[type="text"]{
    height: 40px;
    width: 100%;
    border: 1px solid #d6d6d6;
    padding-left: 15px;
    padding-right: 55px;
    &:hover, &:focus{
      border-color: #ff8015;
    }
  }
  input[type="submit"]{
    width: 40px;
    height: 40px;
    background: transparent url('../images/search-bg.png') center no-repeat;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.main-menu{
  float: left;
  > ul{
    > li{
      float: left;
      position: relative;
      > a{
        display: block;
        @include medium;
        font-size: 15px;
        text-transform: uppercase;
        color: #292929;
        line-height: 50px;
        padding: 0 25px;
        text-align: center;
        &:hover{
          background-color: #518f31;
          color: #fff;
        }
      }
      &:hover > ul{
        opacity: 1;
        visibility: visible;
      }
      &:hover a{
        background-color: #518f31;
        color: #fff;
      }
      > ul{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 50px;
        width: 690px;
        background-color: #518f31;
        padding: 15px;
        z-index: 1000;
        transition: all .25s ease-out;
        > li{
          float: left;
          width: 220px;
          border-right: 1px solid #72a458;
          &:last-child{
            border-right: none;
          }
          a{
            display: block;
            color: #fff;
            font-size: 16px;
            padding: 0 20px;
            line-height: 35px;
            &:hover{
              background-color: #6ea254;
            }
          }
        }
      }
    }
  }
}

.left-sidebar{
  width: 270px;
  float: left;
  margin-left: 30px;
}
.right-sidebar{
  width: 210px;
  float: left;
  margin-left: 30px;
}
.center{
  width: 570px;
  float: left;
  margin-left: 0px;
}
.left-sidebar{
  margin-right: 30px;
}
.right-sidebar{
  margin-right: 30px;
}
.lead-header{
  background: #7cbe37;
  background: -moz-linear-gradient(top,  #7cbe37 0%, #518f32 51%, #7cbe37 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cbe37), color-stop(51%,#518f32), color-stop(100%,#7cbe37));
  background: -webkit-linear-gradient(top,  #7cbe37 0%,#518f32 51%,#7cbe37 100%);
  background: -o-linear-gradient(top,  #7cbe37 0%,#518f32 51%,#7cbe37 100%);
  background: -ms-linear-gradient(top,  #7cbe37 0%,#518f32 51%,#7cbe37 100%);
  background: linear-gradient(to bottom,  #7cbe37 0%,#518f32 51%,#7cbe37 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbe37', endColorstr='#7cbe37',GradientType=0 );

  text-transform: uppercase;
  color: #fff;
  @include bold;
  font-size: 15px;
  line-height: 50px;
  height: 50px;
  padding-left: 45px;
  border-left: 9px solid #000;
  box-shadow: 0 3px 0 #518f31, 0px 6px 7px 0px rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
  cursor: default;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: -9px;
    bottom: -3px;
    height: 3px;
    width: 9px;
    background-color: #000;
  }
}

.burger,
.burger:hover,
.burger:active,
.burger:visited {
  text-decoration: none;
  color: #515152;
}

.burger {
  margin: 6px;
  display: inline-block;
}
.burger .burger-label {
  line-height: 30px;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
}
.burger .burger-icon {
  display: inline-block;
  width: 36px;
  height: 30px;
}
.burger .burger-icon span,
.burger .burger-icon span:before,
.burger .burger-icon span:after {
  display: block;
  width: 100%;
  height: 6px;
  background: #515152;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.burger .burger-icon span {
  position: relative;
  margin: 12px 0 0;
}
.burger .burger-icon span:before,
.burger .burger-icon span:after {
  position: absolute;
  content: "";
}
.burger .burger-icon span:before {
  top: -12px;
}
.burger .burger-icon span:after {
  top: 12px;
}
.burger:hover .burger-icon span:before {
  transform: translate(0px, -4px);
}
.burger:hover .burger-icon span:after {
  transform: translate(0px, 4px);
}
.burger.selected .burger-icon span:before {
  transform: translate(0px, 12px) rotate(-45deg);
}
.burger.selected .burger-icon span:after {
  transform: translate(0px, -12px) rotate(45deg);
}
.burger.selected .burger-icon span {
  background: transparent;
}
.menu-trigger{
  position: absolute;
  left: 10px;
  top: 7px;
  display: none;
}