<div class="center">
  <div class="lead-news">
    <a href="#" class="image">
      <img src="images/content/lead.jpg" alt="">
    </a>
    <a href="#" class="title">Замедленное развитие "Спартака"</a>
    <p>А чего ждали спартаковцы от нынешнего сезона? Что середняку по организации игры вдруг уступят место на вершине? Что не вылетят из кубка? Аленичев сразу возродит целый клуб? "Соккер.уз" разбирается, почему "Спартак" всегда начинается со сравнений.</p>
    <div class="details">
      <a href="#" class="orange-button">Подробнее</a>
    </div>
  </div>

  <div class="articles">
    <div class="lead-header">Статьи о футболе</div>
    <div class="list">
      <div class="item">
        <a class="image" href="#"><img src="images/content/article/1.jpg" alt=""></a>
        <div class="lead-article">
          <p>А чего ждали спартаковцы от нынешнего сезона? Что середняку по организации игры вдруг уступят место на вершине? Что не вылетят из кубка? Аленичев сразу возродит целый клуб? "Соккер.уз" разбирается, почему "Спартак" всегда начинается со сравнений.</p>
          <div class="article-footer">
            <div class="date">29 октября 2015, 14:37</div>
            <a href="#" class="details">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="item">
        <a class="image" href="#"><img src="images/content/article/2.jpg" alt=""></a>
        <div class="lead-article">
          <p>А чего ждали спартаковцы от нынешнего сезона? Что середняку по организации игры вдруг уступят место на вершине? Что не вылетят из кубка? Аленичев сразу возродит целый клуб? "Соккер.уз" разбирается, почему "Спартак" всегда начинается со сравнений.</p>
          <div class="article-footer">
            <div class="date">29 октября 2015, 14:37</div>
            <a href="#" class="details">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="item">
        <a class="image" href="#"><img src="images/content/article/3.jpg" alt=""></a>
        <div class="lead-article">
          <p>А чего ждали спартаковцы от нынешнего сезона? Что середняку по организации игры вдруг уступят место на вершине? Что не вылетят из кубка? Аленичев сразу возродит целый клуб? "Соккер.уз" разбирается, почему "Спартак" всегда начинается со сравнений.</p>
          <div class="article-footer">
            <div class="date">29 октября 2015, 14:37</div>
            <a href="#" class="details">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="item">
        <a class="image" href="#"><img src="images/content/article/4.jpg" alt=""></a>
        <div class="lead-article">
          <p>А чего ждали спартаковцы от нынешнего сезона? Что середняку по организации игры вдруг уступят место на вершине? Что не вылетят из кубка? Аленичев сразу возродит целый клуб? "Соккер.уз" разбирается, почему "Спартак" всегда начинается со сравнений.</p>
          <div class="article-footer">
            <div class="date">29 октября 2015, 14:37</div>
            <a href="#" class="details">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="item">
        <a class="image" href="#"><img src="images/content/article/5.jpg" alt=""></a>
        <div class="lead-article">
          <p>А чего ждали спартаковцы от нынешнего сезона? Что середняку по организации игры вдруг уступят место на вершине? Что не вылетят из кубка? Аленичев сразу возродит целый клуб? "Соккер.уз" разбирается, почему "Спартак" всегда начинается со сравнений.</p>
          <div class="article-footer">
            <div class="date">29 октября 2015, 14:37</div>
            <a href="#" class="details">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="item">
        <a class="image" href="#"><img src="images/content/article/6.jpg" alt=""></a>
        <div class="lead-article">
          <p>А чего ждали спартаковцы от нынешнего сезона? Что середняку по организации игры вдруг уступят место на вершине? Что не вылетят из кубка? Аленичев сразу возродит целый клуб? "Соккер.уз" разбирается, почему "Спартак" всегда начинается со сравнений.</p>
          <div class="article-footer">
            <div class="date">29 октября 2015, 14:37</div>
            <a href="#" class="details">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class="older-articles">
      <a href="#" class="orange-button">Все статьи</a>
    </div>
  </div>

  <div class="latest-images">
    <div class="lead-header">Последние фото</div>
    <div class="list">
      <div class="item">
        <a href="#">
          <div class="image">
            <img src="images/content/photos/1.jpg" alt="">
          </div>
          <div class="title">Шахтер - Диинамо (21.10.2015)</div>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <div class="image">
            <img src="images/content/photos/2.jpg" alt="">
          </div>
          <div class="title">Шахтер - Диинамо (21.10.2015)</div>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <div class="image">
            <img src="images/content/photos/2.jpg" alt="">
          </div>
          <div class="title">Шахтер - Диинамо (21.10.2015)</div>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <div class="image">
            <img src="images/content/photos/1.jpg" alt="">
          </div>
          <div class="title">Шахтер - Диинамо (21.10.2015)</div>
        </a>
      </div>
    </div>
    <div class="older-images">
      <a href="#" class="orange-button">Все фото</a>
    </div>
  </div>

  <div class="news">
    <div class="lead-header">Новости</div>
    <div class="list">
      <div class="item">
        <a href="#" class="image">
          <img src="images/content/news/1.jpg" alt="">
        </a>
        <div class="news-intro">
          <a href="#" class="title">ЦСКА и «Зенит» - в четвертьфинале Кубка России. «Спартак» вылетел. Дайджест событий дня</a>
          <p>ЦСКА и «Зенит» - в четвертьфинале Кубка России. «Спартак» вылетел.ЦСКА и «Зенит» - в четвертьфинале Кубка России. «Спартак» вылетел. Дайджест событий дня</p>
        </div>
        <div class="news-footer">
          <div class="comments"><a href="#">12</a></div>
          <div class="date">29 октября 2015, 14:37</div>
          <div class="details"><a href="#">Подробнее</a></div>
        </div>
      </div>
      <div class="item">
        <a href="#" class="image">
          <img src="images/content/news/2.jpg" alt="">
        </a>
        <div class="news-intro">
          <a href="#" class="title">ЦСКА и «Зенит» - в четвертьфинале Кубка России. «Спартак» вылетел. Дайджест событий дня</a>
          <p>ЦСКА и «Зенит» - в четвертьфинале Кубка России. «Спартак» вылетел.ЦСКА и «Зенит» - в четвертьфинале Кубка России. «Спартак» вылетел. Дайджест событий дня</p>
        </div>
        <div class="news-footer">
          <div class="comments"><a href="#">12</a></div>
          <div class="date">29 октября 2015, 14:37</div>
          <div class="details"><a href="#">Подробнее</a></div>
        </div>
      </div>
      <div class="item">
        <a href="#" class="image">
          <img src="images/content/news/3.jpg" alt="">
        </a>
        <div class="news-intro">
          <a href="#" class="title">ЦСКА и «Зенит» - в четвертьфинале Кубка России. «Спартак» вылетел. Дайджест событий дня</a>
          <p>ЦСКА и «Зенит» - в четвертьфинале Кубка России. «Спартак» вылетел.ЦСКА и «Зенит» - в четвертьфинале Кубка России. «Спартак» вылетел. Дайджест событий дня</p>
        </div>
        <div class="news-footer">
          <div class="comments"><a href="#">12</a></div>
          <div class="date">29 октября 2015, 14:37</div>
          <div class="details"><a href="#">Подробнее</a></div>
        </div>
      </div>
    </div>
    <div class="older-news">
      <a href="#" class="orange-button">Все новости</a>
    </div>
  </div>

  <div class="videos">
    <div class="lead-header">Видеозаписи</div>

    <ul class="rslides carousel">
      <li><iframe width="560" height="315" src="https://www.youtube.com/embed/zFFtBM990GQ" frameborder="0" allowfullscreen></iframe></li>
      <li><iframe width="560" height="315" src="https://www.youtube.com/embed/1Pj_HfT6hw4" frameborder="0" allowfullscreen></iframe></li>
      <li><iframe width="560" height="315" src="https://www.youtube.com/embed/Jbd_SEWuCqE" frameborder="0" allowfullscreen></iframe></li>
    </ul>


    <ul class="carousel-pager">
      <li><a href="#"><img src="images/content/video-thumbs/1.jpg" alt=""></a></li>
      <li><a href="#"><img src="images/content/video-thumbs/2.jpg" alt=""></a></li>
      <li><a href="#"><img src="images/content/video-thumbs/3.jpg" alt=""></a></li>
    </ul>
    <div class="older-videos">
      <a href="#" class="orange-button">Все видеозаписи</a>
    </div>
  </div>
</div>