<div class="left-sidebar">
  <div class="latest-news">
    <div class="lead-header">Последние новости</div>
    <div class="list">
      <div class="item">
        <a href="#" class="title">Хонда может перебраться в "Вест Хэм"</a>
        <div class="date">29 октября 2015, 14:37</div>
      </div>
      <div class="item">
        <a href="#" class="title">Бюттнер должен покинуть "Динамо"</a>
        <div class="date">29 октября 2015, 14:37</div>
      </div>
      <div class="item">
        <a href="#" class="title">Хонда может перебраться в "Вест Хэм" 3</a>
        <div class="date">29 октября 2015, 14:37</div>
      </div>
      <div class="item">
        <a href="#" class="title">Бюттнер должен покинуть "Динамо"</a>
        <div class="date">29 октября 2015, 14:37</div>
      </div>
    </div>
  </div>

  <div class="football-news">
    <div class="lead-header">Новости футбола</div>
    <div class="list">
      <div class="item">
        <div class="details">
          <div class="date">22:45</div>
        </div>
        <div class="title">
          <a href="#">Лепехин: "Есть уверенность, что "Зенит" выиграет Кубок России"</a>
          <div class="comments"><a href="#">12</a></div>
        </div>
      </div>
      <div class="item">
        <div class="details">
          <div class="date">22:45</div>
        </div>
        <div class="title">
          <a href="#">Лепехин: "Есть уверенность, что "Зенит" выиграет Кубок России"</a>
          <div class="comments"><a href="#">12</a></div>
        </div>
      </div>
      <div class="item">
        <div class="details">
          <div class="date">22:45</div>
        </div>
        <div class="title">
          <a href="#">Лепехин: "Есть уверенность, что "Зенит" выиграет Кубок России"</a>
          <div class="comments"><a href="#">12</a></div>
        </div>
      </div>
      <div class="item">
        <div class="details">
          <div class="date">22:45</div>
        </div>
        <div class="title">
          <a href="#">Лепехин: "Есть уверенность, что "Зенит" выиграет Кубок России"</a>
          <div class="comments"><a href="#">12</a></div>
        </div>
      </div>
      <div class="item">
        <div class="details">
          <div class="date">22:45</div>
        </div>
        <div class="title">
          <a href="#">Лепехин: "Есть уверенность, что "Зенит" выиграет Кубок России"</a>
          <div class="comments"><a href="#">12</a></div>
        </div>
      </div>
      <div class="item">
        <div class="details">
          <div class="date">22:45</div>
        </div>
        <div class="title">
          <a href="#">Лепехин: "Есть уверенность, что "Зенит" выиграет Кубок России"</a>
          <div class="comments"><a href="#">12</a></div>
        </div>
      </div>
      <div class="item">
        <div class="details">
          <div class="date">22:45</div>
        </div>
        <div class="title">
          <a href="#">Лепехин: "Есть уверенность, что "Зенит" выиграет Кубок России"</a>
          <div class="comments"><a href="#">12</a></div>
        </div>
      </div>
      <div class="item">
        <div class="details">
          <div class="date">22:45</div>
        </div>
        <div class="title">
          <a href="#">Лепехин: "Есть уверенность, что "Зенит" выиграет Кубок России"</a>
          <div class="comments"><a href="#">12</a></div>
        </div>
      </div>
      <div class="item">
        <div class="details">
          <div class="date">22:45</div>
        </div>
        <div class="title">
          <a href="#">Лепехин: "Есть уверенность, что "Зенит" выиграет Кубок России"</a>
          <div class="comments"><a href="#">12</a></div>
        </div>
      </div>
    </div>
    <div class="older-news">
      <a href="#" class="orange-button">Все новости</a>
    </div>
  </div>

  <div class="tournaments-table">
    <div class="lead-header">Турнирная таблица</div>
    <div class="tournament-select">
      <select>
        <option value="1">Россия. Премьер-Лига 2015/2016</option>
        <option value="2">Европа. Премьер-Лига 2015/2016</option>
        <option value="3">Америка. Премьер-Лига 2015/2016</option>
        <option value="4">Австралия. Премьер-Лига 2015/2016</option>
      </select>
    </div>
    <div class="table" data-select="1">
      <table>
        <tr>
          <td>1.</td>
          <td>ЦСКА</td>
          <td>13</td>
          <td>10</td>
          <td>3</td>
          <td>0</td>
          <td>25:11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>Локомотив М</td>
          <td>13</td>
          <td>10</td>
          <td>3</td>
          <td>0</td>
          <td>25:11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>Зенит</td>
          <td>13</td>
          <td>10</td>
          <td>3</td>
          <td>0</td>
          <td>25:11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>Ростов</td>
          <td>13</td>
          <td>10</td>
          <td>3</td>
          <td>0</td>
          <td>25:11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>Спартак М</td>
          <td>13</td>
          <td>10</td>
          <td>3</td>
          <td>0</td>
          <td>25:11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>6.</td>
          <td>Терек</td>
          <td>13</td>
          <td>10</td>
          <td>3</td>
          <td>0</td>
          <td>25:11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>7.</td>
          <td>Урал</td>
          <td>13</td>
          <td>10</td>
          <td>3</td>
          <td>0</td>
          <td>25:11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>8.</td>
          <td>Краснодар</td>
          <td>13</td>
          <td>10</td>
          <td>3</td>
          <td>0</td>
          <td>25:11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>9.</td>
          <td>Динамо М</td>
          <td>13</td>
          <td>10</td>
          <td>3</td>
          <td>0</td>
          <td>25:11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>10.</td>
          <td>Амкар</td>
          <td>13</td>
          <td>10</td>
          <td>3</td>
          <td>0</td>
          <td>25:11</td>
          <td>33</td>
        </tr>
      </table>
    </div>
  </div>
</div>