<div class="right-sidebar">
  <div class="matches-info">
    <div class="right-header">
      Футбольные матчи
    </div>
    <section class="matches-list">
      <ul class="tabs-nav">
        <li><a href="#tab-1">Все</a></li>
        <li><a href="#tab-2">Вчера</a></li>
        <li><a href="#tab-3">Сегодня</a></li>
        <li><a href="#tab-4">Завтра</a></li>
      </ul>
      <div class="tabs-content">
        <div class="tabs-item" id="tab-1">
          <div class="matches-item">
            <a href="#" class="title">Германия. Бундеслига, 11 тур</a>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
          </div>
          <div class="matches-item">
            <a href="#" class="title">Германия. Бундеслига, 11 тур</a>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
          </div>
          <div class="matches-item">
            <a href="#" class="title">Германия. Бундеслига, 11 тур</a>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
          </div>
          <div class="matches-item">
            <a href="#" class="title">Германия. Бундеслига, 11 тур</a>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item" id="tab-2">
          <div class="matches-item">
            <a href="#" class="title">Германия. Бундеслига, 11 тур</a>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item" id="tab-3">
          <div class="matches-item">
            <a href="#" class="title">Германия. Бундеслига, 11 тур</a>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
          </div><div class="matches-item">
            <a href="#" class="title">Германия. Бундеслига, 11 тур</a>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item" id="tab-4">
          <div class="matches-item">
            <a href="#" class="title">Германия. Бундеслига, 11 тур</a>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
          </div><div class="matches-item">
            <a href="#" class="title">Германия. Бундеслига, 11 тур</a>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
          </div><div class="matches-item">
            <a href="#" class="title">Германия. Бундеслига, 11 тур</a>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
            <div class="matches-item-item">
              <div class="date">1 ноября, воскресенье</div>
              <div class="time">22:45</div>
              <div class="teams">
                <div class="team team-1"><span class="team-name">Айнтрахт Ф</span><span class="goals">2</span></div>
                <div class="team team-2"><span class="team-name">Бавария</span><span class="goals">0</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>